* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-span {
  position: relative;
  display: inline-block;
  height: 60px;
}
