* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 200px;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
}

h1::before {
  z-index: 1;
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 50%;
  top: 45px;
  left: 249px;
  animation: upAndDown 3.5s infinite;
}

h1::after {
  z-index: 1;
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: purple;
  border-radius: 50%;
  top: 45px;
  right: 123px;
  animation: upAndDown 3s infinite 1s;
}

h1 > span {
  z-index: 0;
  position: absolute;
  display: inline-block;
  height: 50px;
  top: 40px;
  left: 249px;
  right: 123px;
  background-color: white;
}

@keyframes upAndDown {
  0% {
    top: 45px;
  }
  8.33% {
    top: 50px;
  }
  58.33% {
    top: 20px;
  }
  100% {
    top: 45px;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
